<h4>
    {{ hero.name | uppercase }}
    <span class="text-muted">
        Details
    </span>
</h4>

<br />

<form>
    <div class="form-group">
        <label for="id">ID</label>
        <input
            id="id"
            name="id"
            type="text"
            class="form-control"
            [(ngModel)]="hero.id"
        />
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input
            id="name"
            name="name"
            type="text"
            class="form-control"
            [(ngModel)]="hero.name"
        />
    </div>

    <button type="button" class="btn btn-primary mr-2" (click)="onSave()">
        Save
    </button>

    <button type="button" class="btn btn-secondary" (click)="onCancel()">
        Cancel
    </button>
</form>
