<ng-container *ngIf="logs$ | async as logs">
    <div class="d-flex justify-content-end">
        <button
            class="btn btn-primary"
            (click)="onClear()"
            [disabled]="logs.length<1"
        >
            Clear Logs
        </button>
    </div>

    <br />

    <ul class="list-group list-group-flush">
        <li
            *ngFor="let log of logs"
            class="list-group-item list-group-item-action"
            [class.list-group-item-light]="log.type === 'info'"
            [class.list-group-item-warning]="log.type === 'warning'"
            [class.list-group-item-danger]="log.type === 'error'"
        >
            <div class="d-flex justify-content-between small">
                <samp>{{ log.message }}</samp>
                <span class="text-muted">{{
                    log.timestamp | date: "medium"
                }}</span>
            </div>
        </li>
    </ul>

    <hr />

    <p class="text-right text-muted small">{{ logs.length }} entries found</p>
</ng-container>
