<h2>My Heroes</h2>

<ul class="list-group">
    <li
        *ngFor="let hero of heroes"
        (click)="onSelect(hero)"
        [class.active]="hero === selectedHero"
        class="list-group-item list-group-item-action pointer"
    >
        <span class="badge badge-info p-2">{{ hero.id }}</span>
        <span class="ml-4">{{ hero.name }}</span>
    </li>
</ul>

<br />
<br />

<ng-container *ngIf="selectedHero">
    <h2>{{ selectedHero.name | uppercase }} Details</h2>
    <div><span>id: </span>{{ selectedHero.id }}</div>

    <div class="form-group">
        <label for="name">name: </label>
        <input
            class="form-control"
            id="name"
            [(ngModel)]="selectedHero.name"
            placeholder="name"
        />
    </div>
</ng-container>
